@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
:root {
    --color-main-light-1:white;
    --color-main-light-2:whitesmoke; 
    --color-main-light-3:hsl(37, 38%, 60%);  

    --color-main-dark-1:hsl(37, 32%, 20%); 
    --color-main-dark-2:hsl(37, 62%, 10%); 
    --color-main-dark-3:hsl(37, 72%, 0%); 

    --border-ratius: 1em;

    --transition-fast: .1s;
    --transition-med: .5s;
    --transition-slow: .9s;

    --box-form-height: 2.9em;
    --box-form-width: 26em;

    --box-form-borderRatius: 0.2em;
    --box-form-borderRatius-2: 0.3em;

}


.box_register {

    padding: 0%;
    margin: 0%;

    background-color: var(--color-main-dark-3);

    height: 90vh;
    width: 100vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

/* form */

.full_form_box {

    padding: 1em;
    margin: 0.5em;

    background-color: var(--color-main-light-2);

    height: 50em;
    width: 30em;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    color: var(--color-main-dark-3);

    border-radius: 0.2em;

}

.full_form_box_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

#mid_form_box {
    
    justify-content: space-evenly;
    height: 30em;
}



/* form lines */

.full_form_box_line {

    height: 4em;
    width: 27em;

    border-radius: var(--box-form-borderRatius-2);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

/* form boxes, input */

.form_box{

    margin: 0;
    padding: 0;

    height: 3.3em;
    width: 26.5em;

    background-color: var(--color-main-dark-3);

    color: var(--color-main-light-1);

    border-radius: var(--box-form-borderRatius);

    cursor: pointer;

    z-index: 50;
    position: absolute;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: var(--transition-med);

}

.form_box:hover {
    background-color: transparent;
    color: var(--color-main-dark-3);

    transition: var(--transition-med);

}
.input_box,
input {
    

    margin: 0;
    padding: 0;

    height: 3.3em;
    width: 26.5em;

    background-color: transparent;

    cursor: pointer;

    z-index: 30;
    position: relative;

    display: block;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    transition: var(--transition-med);

}

input {
    display: block;
    position: relative;

    transition: var(--transition-med);
}

/* button */

#bot_form_box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#register_button{

    cursor: pointer;
    color: var(--color-main-light-1);
    transition: var(--transition-med);

    color: var(--color-main-dark-3);
}

#register_button:hover {

    background-color: var(--color-main-dark-3);
    
    transition: var(--transition-med);

    color: var(--color-main-light-2);
}