@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('../../css/main.css');

a{
  color: var(--color-main-light-1);

  text-decoration: none;

  transition: var(--transition-3);
}

#box_orders_profile {

  background-color: blue;

  justify-content: flex-start;
  align-items: flex-start;
}

#box_newest {

  background-color: green;

  justify-content: flex-start;
  align-items: flex-start;
}
.orders_title {

}

.orders_data {
  
}
#hide_profile {
  color: var(--color-main-dark-3);
}

.update_profile {

  background-color: var(--color-main-light-2)  ;
  
  height: 20em;
  width: 26em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius-2)

}

.box_profile { 
  margin: 10.5vh;
  margin-left: 15vh;
  padding: 0%;


  background-color: var(--color-main-light-2);

  height: 50.5em;
  width: 100vw;

  z-index: 100;
  position: absolute;

  color: var(--color-main-light-1);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-radius: var(--border-radius-2)

}

.box_profile_inner2 {

  height: 42em;
  width: 27.5em;

  margin-left: 2%;

  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-radius: var(--border-radius-2)

}


.update_button {
  background-color: var(--color-main-light-1);
  color: var(--color-main-dark-3);

  height: 2.1em;
  width: 10em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-2);

  cursor: pointer;

  z-index: 200;
}

.update_button:hover  {
  background-color: red;
}

.validation_message {

  margin-top: 1em;
  color: var(--color-main-light-1);

  background-color: var(--color-main-dark-3);

  height: 4.1em;
  width: 30em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-2);


  
}