@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('../../css/main.css');

a{
  color: var(--color-main-light-1);

  text-decoration: none;

  transition: var(--transition-3);
}

#box_orders {

  background-color: azure;
}

.orders_title {

}

.orders_data {
  
}
#hide_profile {
  color: var(--color-main-dark-3);
}

.update_profile {

  background-color: blue  ;
  
  height: 10em;
  width: 30em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

.box_profile {

  margin: 0;
  padding: 0;

  padding-top: 13vh;
  padding-left: 10vw;




  height: 100vh;
  width: 100vw;

  background-color: var(--color-main-dark-3);

  color: var(--color-main-light-1);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

}

.box_profile_inner2 {

  height: 36em;
  width: 46em;

  margin-left: 1em;
  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
