@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('../../css/main.css');

a{
  color: var(--color-main-light-1);

  text-decoration: none;

  transition: var(--transition-3);
}

#box_orders_profile {

  
  padding-inline: .3em;
  margin-inline: .3em;

  background-color: blue;

  justify-content: flex-start;
  align-items: flex-start;
  
  overflow-y: scroll;
}

#box_newest {

  width: 60em;

  padding-inline: .3em;
  margin-inline: .3em;
  
  scroll-padding-inline-end: .3em;
  background-color: var(--color-main-light-3);

  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;

  overflow-x: scroll;
  scroll-behavior: smooth;

}

.movies_title {

  padding: 0%;
  padding-left: .5em;
  margin: 0%;

  margin-left: -.2em;

  border-radius: var(--box-form-border-radius-4);

  color: var(--color-main-dark-3);

  height: 1.8em;
  width: 10em;

  z-index: 220;
  position: absolute;

  letter-spacing: var(--letter-spacing-2);

  font-size: 1.2em;

  background-color: var(--color-main-vivid-1);
  opacity: 90%;

  transition: var(--transition-3);

  cursor: pointer;
}

.movies_title:hover {
  
  padding-left: 1em;
  opacity: 100%;

  transition: var(--transition-3);
}

.movie_card {

  margin: .3em;
  padding: 0%;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  background-color: var(--color-main-dark-3);
  
  height: 40em;
  width: 54em;
  

  

}


.movie_card_photo {

  
  cursor: pointer;

  margin: .2em;
  padding: 0%;

  
  height: 38em;
  width: 26em;

  -webkit-filter: grayscale(80%);

  z-index: 200;
  position: relative;

  display: flex;

  border-radius: var(--border-radius-2);
  
  overflow-y:hidden;

  transition: var(--transition-2);

}

.movie_card_photo:hover {
  
  -webkit-filter: grayscale(20%);

  transition: var(--transition-2);
  
}

.movie_card_description {

  
  margin: 0%;
  padding: 1em;
  
  z-index: 190;
  position:relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  

  height: 37em;
   width: 25em;

  /* font-size: 1.3em; */
  text-align: justify;

  color: var(--color-main-light-3);
  letter-spacing: var(--letter-spacing-2);

  overflow-y: scroll;

  transition: var(--transition-3);

}

.movie_card_description:hover {
  background-color: var(--color-main-dark-transparent-1);
  color: var(--color-main-light-2);

  transition: var(--transition-3);
}

.movie_card_description_releasedate,
.movie_card_description_overview,
.movie_card_description_originaltitle,
.movie_card_description_popularity {

  margin-top: .9em;

  
  text-align: center

}

.movie_card_description_originaltitle {

  
  cursor: pointer;
  font-size: 1.4em;
  font-weight: 600;
}

.movie_card_rent_button {

  
  margin: 0;
  padding: 0%;
  
  height: 9em;
  width: 9em;


}

.orders_title {

}

.orders_data {
  
}
#hide_profile {
  color: var(--color-main-dark-3);
}

.update_profile {

  background-color: var(--color-main-light-2)  ;
  
  height: 20em;
  width: 26em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  border-radius: var(--border-radius-2)

}

.box_profile { 
  margin: 10.5vh;
  margin-left: 15vh;
  padding: 0%;


  background-color: var(--color-main-light-2);

  height: 45.5em;
  width: 100vw;

  z-index: 100;
  position: absolute;

  color: var(--color-main-light-1);

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  border-radius: var(--border-radius-2)

}

.box_profile_inner2 {

  height: 42em;
  width: 27.5em;

  margin-left: 2%;

  background-color: red;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  border-radius: var(--border-radius-2);

  

}


.update_button {
  background-color: var(--color-main-light-1);
  color: var(--color-main-dark-3);

  height: 2.1em;
  width: 10em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-2);

  cursor: pointer;

  z-index: 200;
}

.update_button:hover  {
  background-color: red;
}

.validation_message {

  margin-top: 1em;
  color: var(--color-main-light-1);

  background-color: var(--color-main-dark-3);

  height: 4.1em;
  width: 30em;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  border-radius: var(--border-radius-2);


  
}