.movies_box {

    margin: 10.5vh;
    margin-left: 15vh;
    padding: 0%;

    background-color: var(--color-main-light-2);

    height: 45.5em;
    width: 100vw;

    z-index: 90;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: var(--color-main-dark-3);

    border-radius: var(--border-radius-2);

}

#box_newest {

    width: 65em;
  
    padding-inline-start: .3em;
    
    scroll-padding-inline-end: .3em;
    background-color: var(--color-main-light-3);
  
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  
    overflow-x: scroll;
    scroll-behavior: smooth;
  
  }
  
  .movies_title {
  
    padding: 0%;
    margin: 0%;
  
    margin-left: -.2em;
  
    border-radius: var(--box-form-border-radius-4);
  
    color: var(--color-main-dark-3);
  
    height: 1.8em;
    width: 10em;
  
    z-index: 220;
    position: absolute;
  
    letter-spacing: var(--letter-spacing-2);
  
    font-size: 1.2em;
  
    background-color: var(--color-main-vivid-1);
    opacity: 90%;
  
    transition: var(--transition-3);
  
    cursor: pointer;
  }
  
  .movies_title:hover {
    opacity: 100%;
  
    transition: var(--transition-3);
  }
  
  .movie_card {
  
    margin: .3em;
    padding: 0%;
  
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  
    background-color: var(--color-main-dark-3);
    
    height: 40em;
    width: 54em;
    
  
    
  
  }
  
  .movie_card_photo {
  
    margin: .2em;
    padding: 0%;
  
    
    height: 38em;
    width: 26em;
  
    -webkit-filter: grayscale(80%);
  
    z-index: 200;
    position: relative;
  
    display: flex;
  
    border-radius: var(--border-radius-2);
    
    overflow-y:hidden;
  
  }
  
  .movie_card_description {
  
    
    margin: 0%;
    padding: 1em;
    
    z-index: 190;
    position:relative;
  
    display: flex;
    flex-direction: column;
    align-items: center;
    
  
    height: 37em;
     width: 25em;
  
    /* font-size: 1.3em; */
    text-align: justify;
    letter-spacing: var(--letter-spacing-2);
  
    overflow-y: scroll;
  
  }
  
  .movie_card_description:hover {
    background-color: var(--color-main-dark-transparent-1);
    color: var(--color-main-light-2);
  }
  
  .movie_card_description_releasedate,
  .movie_card_description_overview,
  .movie_card_description_originaltitle,
  .movie_card_description_popularity {
  
    margin-top: .9em;
  
    
    text-align: center
  
  }
  
  .movie_card_description_originaltitle {
    font-size: 1.4em;
    font-weight: 600;
  }
  
  .movie_card_rent_button {
  
    
    margin: 0;
    padding: 0%;
    
    height: 9em;
    width: 9em;
  
  
  }