.movies_box {

    margin: 10.5vh;
    margin-left: 15vh;
    padding: 0%;

    background-color: var(--color-main-light-2);

    height: 50.5em;
    width: 100vw;

    z-index: 90;
    position: absolute;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;

    color: var(--color-main-dark-3);

    border-radius: var(--border-radius-2);

}