@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('../../css/main.css');

#active {

  background-color: var(--color-main-vivid-1);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: scroll;

  margin-left: 0%;
}

#active_title {

  
  background-color: var(--color-main-vivid-2);

  width: 8em;
}
#active_title_click {
  background-color: var(--color-main-vivid-2);
}


#active_title_click,
#allorders_title_click {

  margin-top: 5em;

  width: 8em;
}

#allorders {

  background-color: var(--color-main-vivid-2);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  overflow: scroll;

  
  

}

#allorders_title {
  
  background-color: var(--color-main-vivid-1);

  width: 8em;

}

/* order printed */

.order_card {

  margin-top: .2em;
  margin-left: 13em;


  height: 5em;
  width: 30em;

  background-color: gray;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;

  overflow: scroll;

}
.order_user_number {
  margin-top: .1em;


  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: red;

}
.order_user {
  margin-top: .1em;

  color: wheat;
  
  background-color: blue;

}
.order_number {
  margin-top: .1em;

  color: wheat;

  
  background-color: green;
}
.order_movie_price {
  margin-top: .1em;


  
  background-color: white;
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: black;

}

.order_movie {
  margin-top: .1em;

  color: wheat;

  
  background-color: yellow;
}

.order_price {
  margin-top: .1em;

  color: wheat;
  
  background-color: red;

}
.order_start_date {
  margin-top: .1em;

  
  color: wheat;
  
  background-color: rgb(0, 4, 255);



}
.order_end_date {
  margin-top: .1em;

  
  color: wheat;
  
  background-color: rgb(21, 146, 62);



}
.order_status {
  margin-top: .1em;

  
  color: wheat;
  
  background-color: rgb(179, 255, 0);



}

.orders_box {

  margin: 10.5vh;
  margin-left: 15vh;
  padding: 0%;

  background-color: var(--color-main-light-2);

  height: 45.5em;
  width: 100vw;

  z-index: 100;
  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;

  color: var(--color-main-dark-3);

  border-radius: var(--border-radius-2);

}

