@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
:root {
    --color-main-light-1:white;
    --color-main-light-2:whitesmoke; 
    --color-main-light-3:hsl(37, 38%, 60%);  

    --color-main-dark-1:hsl(37, 32%, 20%); 
    --color-main-dark-2:hsl(37, 62%, 10%); 
    --color-main-dark-3:hsl(37, 72%, 0%); 

    --border-radius: 1em;

    --transition-fast: .1s;
    --transition-med: .5s;
    --transition-slow: .9s;
}


.box_LoginRegisterButton {

    padding: .05em;


    height: 3em;
    width: 27em;

    border-radius: var(--border-radius-2);

    background-color: var(--color-main-light-1);

    color: var(--color-main-dark-3);

    transition: var(--transition-med);

    cursor: pointer;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.box_LoginRegisterButton:hover {

    background-color: var(--color-main-dark-2);

    color: var(--color-main-light-1);

    transition: var(--transition-med);

}

