@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('../../css/main.css');

.box_LoginRegisterButton {

    padding: .05em;

    margin-bottom: 1.2em;

    height: 3em;
    width: 26em;

    border-radius: var(--border-radius-2);

    background-color: var(--color-main-profile-1);

    color: var(--color-main-light-1);

    transition: var(--transition-2);

    cursor: pointer;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.box_LoginRegisterButton:hover {

    background-color: var(--color-main-profile-2);

    color: var(--color-main-light-2);

    transition: var(--transition-2);

    letter-spacing: var(--letter-spacing-2);

}

