:root {
    --color-main-light-1:white;
    --color-main-light-2:whitesmoke; 
    --color-main-light-3:hsl(37, 38%, 60%);  

    --color-main-dark-1:hsl(37, 32%, 20%); 
    --color-main-dark-2:hsl(37, 62%, 10%); 
    --color-main-dark-3:hsl(37, 72%, 0%); 
    
    --color-main-vivid-1: hsl(60, 100%, 73%);
    --color-main-error-1: red;

    --border-radius-1: .1em;
    --border-radius-2: .3em;
    --border-radius-3: .2em;
    --border-radius-3: .6em;

    --box-form-border-radius-1: .5em;
    --box-form-border-radius-2: .9em;

    --transition-fast: .1s;
    --transition-med: .5s;
    --transition-slow: .9s;
}