/* - - - - VARIANTS */

:root {
    
    --color-main-light-1:white;
    --color-main-light-2:hsl(0, 0%, 96%); 
    --color-main-light-3:hsl(237, 10%, 70%);  

    --color-main-dark-1:hsl(237, 10%, 20%); 
    --color-main-dark-2:hsl(237, 62%, 10%); 
    --color-main-dark-3:hsl(237, 72%, 0%); 
    --color-main-dark-4:hsl(237, 10%, 37%); 
    --color-main-dark-5:hsl(237, 10%, 17%);
    
    --color-main-orders-1:hsl(137, 10%, 37%); 
    --color-main-orders-2:hsl(137, 10%, 17%);

    --color-main-movies-1:hsl(237, 10%, 37%); 
    --color-main-movies-2:hsl(237, 10%, 17%);    

    --color-main-profile-1:hsl(63, 10%, 37%); 
    --color-main-profile-2:hsl(63, 10%, 17%);

    --color-main-home-1:hsl(337, 10%, 37%); 
    --color-main-home-2:hsl(337, 10%, 17%);

    --color-main-admin-1:hsl(317, 80%, 27%); 
    --color-main-admin-2:hsl(317, 80%, 17%);
    
    --color-main-vivid-1: hsl(56, 100%, 50%);

    --color-main-error-1: red;
    --color-main-error-2: hsl(13, 50%, 50%);
    --color-main-error-3: hsla(13, 80%, 70%, 0.9);
    --color-main-error-4: hsla(13, 10%, 37%);

    --border-radius-1: .1em;
    --border-radius-2: .2em;
    --border-radius-3: .3em;
    --border-radius-4: .6em;

    --box-form-border-radius-1: 1.1em 0em 0em 1.1em;
    --box-form-border-radius-2: 0em .9em .9em 0em;
    --box-form-border-radius-3: 1.3em 0em 0em 1.3em;
    --box-form-border-radius-4: 0em 1.1em 1.1em 0em;
    --box-form-border-radius-5: .6em .6em .6em .6em;
    --box-form-border-radius-6: .3em .6em .6em .3em;

    --transition-1: .1s;
    --transition-2: .5s;
    --transition-3: .9s;
    --transition-4: 1.2s;
    --transition-5: 2.2s;

    --letter-spacing-1: .1em;
    --letter-spacing-2: .2em;
    --letter-spacing-3: .3em;
    --letter-spacing-4: .4em;
}

/* HTML ELEMENTS */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* IDS */

#redbackground {
  background-color: red;
}

#bluebackground {
  background-color: blue;
}

#greenbackground {
  background-color: greenyellow;
}
/* BUTTON ANIMATIONS */

.animation_any_button{
    animation: any_button 2s steps(24) 1s 1 normal both,
               any_button_display 1000ms steps(2) infinite normal;
              
}
  
  @keyframes any_button{
    from{width: 0;}
    to{width: 24em;}
}
  
  
  @keyframes any_button_display {
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
} 

.animation_webpage_toright{
    animation: webpage steps(8) .4s 1 normal both,
               webpage_display 1000ms steps(2) infinite normal;
              
}
  
  @keyframes webpage{
    from{width: 0;}
    to{width: 89.5vw;}
}
  
  
  @keyframes webpage_display {
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
} 

.animation_spin {
  animation: spin 1s infinite;
  
  transition: var(--transition-2);
}

@keyframes spin {
  from {
      transform:rotate(0deg);
      
    transition: var(--transition-2);
  }
  to {
      transform:rotate(360deg);
      
    transition: var(--transition-2);
  }
}
/* Backup */
/* .animation_webpage_toright{
    animation: webpage steps(240) .2s 1 normal both,
               webpage_display 1000ms steps(2) infinite normal;
              
}
  
  @keyframes webpage{
    from{width: 0;}
    to{width: 100vw;}
}
  
  
  @keyframes webpage_display {
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
}  */

.animation_webpage_toleft{
    animation: webpage_toleft steps(240) .2s 1 normal both,
               webpage_toleft_display 900ms steps(2) normal;
              
}
  
  @keyframes webpage_toleft{
    from{width: 0vw;}
    to{width: 100vw;}
}
  
  
  @keyframes webpage_toleft_display {
    from{border-left-color: rgba(255,255,255,.75);}
    to{border-left-color: transparent;}
} 

/* - - - - ITEMS */



#username_display {
    padding: 0%;
    margin: 0%;

    color: red;
}

#name_display {
    padding: 0%;
    margin: 0%;

    color: solid black;
}

/* - INPUTS */

#input_name,
#input_username,
#input_password,
#input_email,
#input_birthdate {

    margin: 0;
    padding: 0;

    padding-right: 5%;

    text-align: end;

    height: 3.4em;
    width: 18.5em;

    z-index: 40;
    position: relative;

    background-color: var(--color-main-light-1);

    border-radius: var(--box-form-border-radius-1);

    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    transition: var(--transition-2);

    color: var(--color-main-dark-1);

}

#input_birth_year {

    width: 7.2em;

    border-radius: var(--box-form-border-radius-1);

}

#input_birth_day {

    margin: 0;

}

/* HIDE FORM BUTTONS */

.input_box_back{    

    margin: 0;
    padding: 0;
    
    height: 3.1em;
    width: 6.5em;
    
    cursor: pointer;
    
    background-color: var(--color-main-light-1);
    border-radius: var(--box-form-border-radius-2);
    
    z-index: 30;
    position:initial;
    
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    
    transition: var(--transition-2);
    
}
    
.input_box_back:hover {

    background-color: var(--color-main-light-3);
    
    border-radius: var(--box-form-border-radius-2);

}

/* - BUTTONS */

#main_cancel_button {

  margin: 0;
  padding: 0%;

  height: 2em;
  width: 4em;

  border-radius: var(--border-radius-2);

  background-color: var(--color-main-error-3);

  color: var(--color-main-dark-3);

  transition: var(--transition-2);

  cursor: pointer;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#main_cancel_button:hover {

  background-color: var(--color-main-error-1);

  color: var(--color-main-dark-2);

  transition: var(--transition-2);

}

/* - SIDEBAR ITEMS */

.sidebar_home_container,
.sidebar_profile_container,
.sidebar_orders_container,
.sidebar_movies_container,
.sidebar_logout_container,
.sidebar_admin_container{ 

  margin: 0%;
  padding: 0%;

  margin-left: 1em;

  height: 4em;
  width: 4em;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  z-index: 90;
  position: relative;

  cursor: pointer;

  border-radius: var(--box-form-border-radius-2);

  background-color: transparent;


  
  transition: var(--transition-4);

}

.sidebar_home_container:hover,
.sidebar_profile_container:hover,
.sidebar_orders_container:hover,
.sidebar_movies_container:hover,
.sidebar_logout_container:hover {

  margin: .1em;

  margin-left: 6em;

  width: 4em;

  letter-spacing: var(--letter-spacing-2);

  transition: var(--transition-2);

  background-color: transparent;

  /* animation: sidebar_item steps(4) .4s 1 normal,
               sidebar_item_display steps(20) normal; */

               
}

@keyframes sidebar_item{
  from{width: 2em;}
  to{width: 4em;}
}


@keyframes sidebar_item_display {
  from{border-left-color: rgba(255,255,255,.75);}
  to{border-left-color: transparent;}
} 

.icon_container {

  margin: 0%;
  padding: 0%;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  background-color: var(--color-main-light-1);

  height: 1.7em;
  width: 2em;

  border-radius: var(--border-radius-3);

}

.icon_text {

  margin: 0%;
  padding: 0%;

  border-radius: var(--box-form-border-radius-6);

  height: 2em;
  width: 5.3em;

  
  font-display: none;
  text-align: center;
  background-color: var(--color-main-dark-4);
  color: var(--color-main-light-2);

}

.icon_text:hover {

  background-color: var(--color-main-dark-5);
  color: var(--color-main-light-1);
}


/* create classes for: 
buttons; cancel buttons, 
         access buttons,
         modify buttons,
  
  a style for every one of them, and we're going to use the sames all along the website.
         
 */

 #prueba {
   background-color: red;
 }