@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
@import url('../../css/main.css');

svg {
  width: 1.3em;
  height: 1.3em;
 }

.box_sidebar {

  padding-top: .3em;
  padding-bottom: .3em;
  padding-left: 1%;

  margin-top: 20vh;
  margin-left: 20vh;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  border-radius: var(--box-form-border-radius-2);

  background-color: var(--color-main-light-3);
  opacity: 80%;

  height: 60vh;
  width: 30vw;
  
  z-index: 110;
  position: absolute;

  
  transition: var(--transition-3);
}
.box_sidebar:hover {
  opacity: 90%;

}