@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');
:root {
    --color-main-light-1:hsl(37, 58%, 80%); 
    --color-main-light-2:hsl(37, 38%, 60%); 
    --color-main-light-3:hsl(37, 18%, 50%); 

    --color-main-dark-1:hsl(37, 32%, 20%); 
    --color-main-dark-2:hsl(37, 62%, 10%); 
    --color-main-dark-3:hsl(37, 72%, 0%); 

    --border-ratius: 1em;

    --transition-fast: .1s;
    --transition-med: .5s;
    --transition-slow: .9s;
}


.box_navigationbutton {

    height: 2em;
    width: 8em;

    border-radius: var(--border-ratius);

    background-color: var(--color-main-light-2);

    color: var(--color-main-dark-3);

    transition: var(--transition-med);

    cursor: pointer;


  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;


}

.box_navigationbutton:hover {

    background-color: var(--color-main-light-2);

    transition: var(--transition-med);

}