@import url('../../css/main.css');

.background_box {

  margin: 0%;
  padding: 0%;

    height: 100vh;
  width: 100vw;

  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: flex-start;

  position: absolute;
  z-index: 2;

}

.background_lines {

    height: 14em;
  width: 100vw;

  background: linear-gradient(to right, var(--color-main-light-1), var(--color-main-light-2));


  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  
  transition: 2s;
}

.background_lines:hover {
  
  background: linear-gradient(to right, var(--color-main-light-2), var(--color-main-light-1));

}

.background_squares {

    height: 4em;
  width: 4em;

  margin: .2em;

  border-radius: var(--border-radius-3);

  transition: 2s;
  background: linear-gradient(to right, var(--color-main-dark-3), var(--color-main-dark-1));


  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}

.background_squares:hover {

  
  transition: 2s;
  background: linear-gradient(to right, var(--color-main-dark-3), transparent);
  
}

.background_empty {

    height: 120em;
  width: 100vw;

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}